<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>simpay</name>
	<displayName><![CDATA[SimPay]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Płatności DirectCarrierBilling SMS+ dla twojego sklepu]]></description>
	<author><![CDATA[Payments Soultion sp. z o.o.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
